<h1>Categories:</h1>
{{#each model as |category|}}
  <div class="col-xs-4">
    {{#link-to 'category' category.id}}<h3>{{category.title}}</h3>{{/link-to}}
    {{sub-category-list category=category}}
  </div>
{{/each}}
