

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding-bottom: 0;
  margin-top: .5em;
  border-bottom: 1px solid #d3d3d3;
}
p {
  margin: 0;
  padding: 0;
}

.content {
  margin-top: .5em;
  border-top: 1px solid #d3d3d3;
}

.button-inline {
  display: inline;
}

#id {
  display: inline;
}
